{% extends "base.html" %}

{% block title %}about{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
    <h1>About</h1>
	ADHDo is a to-do list application designed to help my self cater the needs of my everyday life. I cloud not find a good to-do list that suited my needs, so I desided to create my own.<br>
	It is a docker container hosting a web app written in python flask intended to host locally in my home network.
	<br>
	<br>
	<a href="https://github.com/ndit-dev/ADHDo">More on github</a>

{% endblock %}