<!-- base.html -->
<!DOCTYPE html>
<html>
<head>
  <title>ADHDo - {% block title %}Default Title{% endblock %}</title>
  
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="icon" href="{{ url_for('static', filename='/favicon.ico') }}" type="image/x-icon">

  <!-- CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

  {% block head %}{% endblock %}

</head>
<body id="top" class="dark">
  <div class="container">
    <nav class="nav">
      <div class="nav-left">
        <a class="brand" href="#"><img src="/static/adhdo.png"> ADHDo</a>
        <div class="tabs">
          <a class="{% block nav_home %}{% endblock %}" href="/">Tasks</a>
          <a class="{% block nav_settings %}{% endblock %}"  href="settings">settings</a>
          <a class="{% block nav_about %}{% endblock %}"  href="about">about</a>
        </div>
      </div>
      <div class="nav-right">
        <a href="javascript:void(0)" onclick="switchMode(this)">🌙</a>
      </div>
    </nav>

    {% block content %}{% endblock %}
  </div>

	<script src="/static/js/scripts/base.js"></script>
</body>
</html>
