{% extends "base.html" %}

{% block title %}Manage categories{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
    <h1>Categories</h1>
	{% with messages = get_flashed_messages(with_categories=true) %}
	{% if messages %}
	{% for category, message in messages %}
		<div class="alert alert-{{ category }}">
		{{ message }}
		</div>
	{% endfor %}
	{% endif %}
	{% endwith %}
    <ul>
		{% for category_tuple in categories %}
		<li>
			<form action="/edit_category/{{ category_tuple[0].id }}" method="post">
				<input type="text" name="name" value="{{ category_tuple[0].name }}">
				<button type="submit">Edit</button>
			</form>
			<form action="/delete_category/{{ category_tuple[0].id }}" method="post" style="display:inline;">
				<button type="submit" {% if category_tuple[1] > 0 %} disabled {% endif %}>Delete</button>
				({{ category_tuple[1] }} active tasks) 
			</form>
			{% if category_tuple[0].is_visible %} (Visible) {% else %} (Hidden) {% endif %}
			<span>Sort Order: {{ category_tuple[2] }}</span>
		</li>
		{% endfor %}
    </ul>
{% endblock %}