{% extends "base.html" %}

{% block title %}Settings{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
    <h1>Settings</h1>
	{% with messages = get_flashed_messages(with_categories=true) %}
	{% if messages %}
	{% for category, message in messages %}
		<div class="alert alert-{{ category }}">
		{{ message }}
		</div>
	{% endfor %}
	{% endif %}
	{% endwith %}
	<fieldset id="forms__select">
		<legend>Backup and restore</legend>
		<div class="row">
			<div class="col-3">
				<p><p>
					<a href="/backup" class="button primary icon">Download <img src="https://icongr.am/jam/download.svg?size=16&color=ffffff" alt="icon"></a>
				</p></p>
			</div>
			<div class="col-6">
				<p>
					<form action="/restore" method="post" enctype="multipart/form-data">
						<p class="grouped">
							<input type="file" name="dbfile" class="file-input">
							<button type="button" class="button primary icon">Restore
								<img src="https://icongr.am/jam/upload.svg?size=16&color=ffffff" alt="icon">
							</button>
						</p>
					</form>
				</p>
			</div>
		</div>
	</fieldset>
	<fieldset id="forms__select">
		<legend>Reset Checkmarks</legend>
		<p class="timezone">Timezone: {{ server_timezone }}</p>
		<p class="grouped col-3">
			<input type="time" id="resetTime">
			<button id="updateResetTimeBtn">Set</button>
		</p>
		
	</fieldset>
		
	<script src="/static/js/scripts/settings.js"></script>
{% endblock %}