{% extends "base.html" %}

{% block title %}Settings{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
    <h1>Settings</h1>
	{% with messages = get_flashed_messages(with_categories=true) %}
	{% if messages %}
	{% for category, message in messages %}
		<div class="alert alert-{{ category }}">
		{{ message }}
		</div>
	{% endfor %}
	{% endif %}
	{% endwith %}
	<h2>Backup and Restore</h2>
	<h3>Backup</h3>
	<p><a href="/backup">Download a backup of the database</a></p>
	<h3>Restore</h3>
	<form action="/restore" method="post" enctype="multipart/form-data">
		<input type="file" name="dbfile">
		<input type="submit" value="Upload and Restore Backup">
	</form>
	<h2>Reset Checkmarks</h2>
	<div class="row">
		<div>
			<label for="resetTime" id="resetTimeLabel">
				Reset Time <span id="serverTimezone">server timezone: {{ server_timezone }}</span>
			</label>
			<input type="time" id="resetTime">
		</div>
		<div id="containerTimezoneDisplay"></div>
	</div>
	
	<button id="updateResetTimeBtn">Update Reset Time</button>
	
	<script src="/static/js/scripts/settings.js"></script>
{% endblock %}